.git
.gitignore
.gitattributes
node_modules
vendor
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile*
*.log
*.md
!README.md
.idea
.vscode
.DS_Store
.phpunit.result.cache
tests
docs
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
